*,
*::before,
*::after {
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

/* Take with Maket */
.container {
    max-width: 1128px;
    /* padding-left: 156px;
    padding-right: 156px; */
    margin-left: 120px;
    margin-right: 120px;
}

/*=====================================*/

/*================ header =============*/
.header {
    background-color: #fff;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;

}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: left;

}

.header-logo span {
    color: #2e2f42;
    display: flex;
    align-items: center;
    margin-right: 76px;
}

.header-menu-list {
    display: flex;
    gap: 40px;
    margin-right: 332px;
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-addr {
    font-style: normal;
}

.header-addr-list {
    display: flex;
    align-items: right;
    gap: 40px;

}

.header-addr-link {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-logo:hover,
.header-logo:focus,
.header-link:hover,
.header-link:focus,
.header-addr-link:hover,
.header-addr-link:focus,
.header-logo:active {
    color: #404bbf;
}

/*=====================================*/

/*============ hero ===================*/

.hero {
    background-color: #2e2f42;
    height: 600px;
}

/* 
.hero-wrap {
    
    
} */

.hero-title {
    width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    margin-left: 316px;
    padding-top: 188px;
}

.hero-button {
    cursor: pointer;
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    borde: none;
    padding: 16px 32px;
    /* Flex layout figma */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    */ gap: 10px;
    margin-left: 482px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/*=====================================*/

/*=============== contents ============*/

.content {
    margin-top: 120px;
    margin-bottom: 120px;
}


.content-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.content-item {
    width: calc ((100% - 3 * 24px) / 4);
}

.content-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.content-list-item-text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

/*=====================================*/

/*=============== Our Team ============*/
.team {
    letter-spacing: 0.02em;
    text-align: center;
    background-color: #F4F4FD;
    padding-bottom: 120px;

}

.team-list {
    display: flex;
    align-items: center;
    gap: 24px;
    width: calc ((1128px - 3 * 24px) / 4);
}

.team-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-top: 120px;
    padding-bottom: 72px;

}

.team-card-content {
    margin-top: 32px;
    padding-left: 16px;
    padding-bottom: 32px;
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-list-item {
    background-color: #FFFFFF
}

.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

/*=====================================*/

/*=========== Our Portfolio ===========*/
.portfolio {
    padding-bottom: 120px;

}

.portfolio-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-bottom: 72px;
}

.portfolio-list {
    letter-spacing: 0.02em;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 48px;
    width: calc ((1128px - 2 * 24px) / 3);
}

.portfolio-list-descr {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 8px;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    padding-left: 16px;
    padding-bottom: 32px;
}

/*=====================================*/

/*============== footer ===============*/
.footer {
    background-color: #2e2f42;
    height: 312px;
}

.footer-wrap {
    width: 264px;
    height: 112px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-link .accent {
    color: #f4f4fd;
}

.footer-link:hover,
.footer-link:focus {
    color: #4D5AE5;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

/*=====================================*/